{
  "bail": true,
  "color": true,
  "diff": true,
  "exit": true,
  "extension": [
    "ts"
  ],
  "node-option": [
    "experimental-specifier-resolution=node",
    "loader=ts-node/esm",
    "no-warnings"
  ],
  "full-trace": true,
  "recursive": true,
  "reporter": "spec",
  "require": [
    "ts-node/register"
  ],
  "timeout": 5000
}
